header {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

h3 {
	color: rgb(114, 27, 135);
	font-family: 'Raleway', sans-serif;
}

body {
	margin: auto;
	padding: 50px;
}

img {
	text-align: center;
}

#contact {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: rgb(237, 172, 247);
}

/*li {
	display: block;
	width: 60px;
}*/
